<a href="https://colab.research.google.com/github/KhalidNazzar/Feature-Selection-from-Scratch/blob/main/Feature_Selection_Drop_Const_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Feature Selection with Dropping constant Features**

In this step we will be removing the features which have constant features actually not important for solving the problem statement

In [1]:
# For create DataFrame Import pandas
import pandas as pd

In [4]:
# Make DataFrame of the given data
data = pd.DataFrame({'A':[1,3,5,1,3,5],
                     'B':[2,4,6,8,0,2],
                     'C':[0,0,0,0,0,0],
                     'D':[1,1,1,1,1,1]})

In [5]:
data.head()

   A  B  C  D
0  1  2  0  1
1  3  4  0  1
2  5  6  0  1
3  1  8  0  1
4  3  0  0  1

## **Variance ThresHold**

Feature selector that removes all low-variance features.

This feature selection algorithm looks only at the features (X), not the desired outputs(y), and can thus be used for **unsupervised** learning

In [6]:
# It will zero variance features
from sklearn.feature_selection import VarianceThreshold
thres_var=VarianceThreshold(threshold=0)
thres_var.fit(data)

VarianceThreshold(threshold=0)

In [7]:
thres_var.get_support()

array([ True,  True, False, False])

In [8]:
data.columns[thres_var.get_support()]

Index(['A', 'B'], dtype='object')

In [10]:
const_columns = [column for column in data.columns
                if column not in data.columns[thres_var.get_support()]]

print(len(const_columns))

2

In [11]:
for feature in const_columns:
  print(feature)

C
D

In [17]:
data.drop(const_columns, axis=1)

   A  B
0  1  2
1  3  4
2  5  6
3  1  8
4  3  0
5  5  2

Now Lets apply on bigger dataset

> https://www.kaggle.com/c/santander-customer-satisfaction/data?select=train.csv

In [19]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [20]:
df=pd.read_csv('train.csv', nrows=10000)

In [21]:
df.shape

(10000, 371)

In [22]:
df.head()

   ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0   1     2     23  ...                     0.0   39205.170000       0
1   3     2     34  ...                     0.0   49278.030000       0
2   4     2     23  ...                     0.0   67333.770000       0
3   8     2     37  ...                     0.0   64007.970000       0
4  10     2     39  ...                     0.0  117310.979016       0

[5 rows x 371 columns]

In [23]:
X=df.drop(labels=['TARGET'], axis = 1)
y=df['TARGET']

In [24]:
from sklearn.model_selection import train_test_split
# seperate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(labels=['TARGET'], axis=1),
    df['TARGET'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((7000, 370), (3000, 370))

Lets apply the varience threshols

>

In [25]:
thres_var=VarianceThreshold(threshold=0)
thres_var.fit(X_train)

VarianceThreshold(threshold=0)

In [26]:
thres_var.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True, False, False,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True, False,  True, False,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True, False, False, False, False,  True,  True,
       False,  True, False, False, False,  True, False, False, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False, False, False, False,  True,  True,  True,  True, False,
        True, False, False, False,  True, False, False, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False,  True,  True,  True,  True, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [29]:
# Finding non constant features
sum(thres_var.get_support())

284

In [30]:
# Lets Find non constant features
len(X_train.columns[thres_var.get_support()])

284

In [31]:
const_columns = [column for column in X_train.columns
                    if column not in X_train.columns[thres_var.get_support()]]

print(len(const_columns))

86

In [33]:
for column in const_columns:
  print(column)

ind_var2_0
ind_var2
ind_var13_medio_0
ind_var13_medio
ind_var18_0
ind_var18
ind_var27_0
ind_var28_0
ind_var28
ind_var27
ind_var34_0
ind_var34
ind_var41
ind_var46_0
ind_var46
num_var13_medio_0
num_var13_medio
num_var18_0
num_var18
num_var27_0
num_var28_0
num_var28
num_var27
num_var34_0
num_var34
num_var41
num_var46_0
num_var46
saldo_var13_medio
saldo_var18
saldo_var28
saldo_var27
saldo_var34
saldo_var41
saldo_var46
delta_imp_amort_var18_1y3
delta_imp_amort_var34_1y3
delta_imp_reemb_var17_1y3
delta_imp_reemb_var33_1y3
delta_imp_trasp_var17_out_1y3
delta_imp_trasp_var33_out_1y3
delta_num_reemb_var17_1y3
delta_num_reemb_var33_1y3
delta_num_trasp_var17_out_1y3
delta_num_trasp_var33_out_1y3
imp_amort_var18_hace3
imp_amort_var18_ult1
imp_amort_var34_hace3
imp_amort_var34_ult1
imp_var7_emit_ult1
imp_reemb_var13_hace3
imp_reemb_var17_hace3
imp_reemb_var17_ult1
imp_reemb_var33_hace3
imp_reemb_var33_ult1
imp_trasp_var17_in_hace3
imp_trasp_var17_out_hace3
imp_trasp_var17_out_ult1
imp_trasp_var33_in_hace3
imp_trasp_var33_out_hace3
imp_trasp_var33_out_ult1
imp_venta_var44_hace3
ind_var7_emit_ult1
num_var2_0_ult1
num_var2_ult1
num_var7_emit_ult1
num_meses_var13_medio_ult3
num_reemb_var13_hace3
num_reemb_var17_hace3
num_reemb_var17_ult1
num_reemb_var33_hace3
num_reemb_var33_ult1
num_trasp_var17_in_hace3
num_trasp_var17_out_hace3
num_trasp_var17_out_ult1
num_trasp_var33_in_hace3
num_trasp_var33_out_hace3
num_trasp_var33_out_ult1
num_venta_var44_hace3
saldo_var2_ult1
saldo_medio_var13_medio_hace2
saldo_medio_var13_medio_hace3
saldo_medio_var13_medio_ult1
saldo_medio_var13_medio_ult3
saldo_medio_var29_hace2
saldo_medio_var29_hace3

In [34]:
X_train.drop(const_columns, axis=1)

         ID  var3  ...  saldo_medio_var44_ult3      var38
7681  15431     2  ...                     0.0   37491.21
9031  18181     2  ...                     0.0  106685.94
3691   7411     2  ...                     0.0   66144.66
202     407     2  ...                     0.0   92121.36
5625  11280     2  ...                     0.0   74650.83
...     ...   ...  ...                     ...        ...
9225  18564     2  ...                     0.0  117547.89
4859   9723     2  ...                     0.0   71050.83
3264   6557     2  ...                     0.0  141069.33
9845  19796     2  ...                     0.0   86412.15
2732   5441     2  ...                     0.0   45985.68

[7000 rows x 284 columns]